@font-face {
    font-family: "Lato Bold";
    font-style: normal;
    font-weight: normal;
    src: url(assets/fonts/Lato-Bold.ttf) format('opentype');
    }

@font-face {
    font-family: "Lato Light";
    font-style: normal;
    font-weight: normal;
    src: url(assets/fonts/Lato-Light.ttf) format('opentype');
    }

@font-face {
    font-family: "Lato Black";
    font-style: normal;
    font-weight: normal;
    src: url(assets/fonts/Lato-Black.ttf) format('opentype');
    }

@font-face {
    font-family: "Lato Regular";
    font-style: normal;
    font-weight: normal;
    src: url(assets/fonts/Lato-Regular.ttf) format('opentype');
    }


* {
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 1020px;
    margin: 0 auto;
    font-family: "Lato Regular", sans-serif;
    font-size: 12px;
}


/* CONTACTS BLOCK*/
.contacts{
    background-color: #F06C64;
    height: 654px;
    width: 1020px;
    border-bottom: 6px solid #EA676B;
    color: #F0D8D9;
    padding: 59px 40px 0 40px;
    
}

h2{
    font-family: "Lato Black";
    font-size: 30px;
    letter-spacing: -0.005em;
}

.contacts__desc{
    font-family: "Lato Light", sans-serif;
    font-size: 18px;
    line-height: 30px;
    margin-top: 18px;
    text-align: justify;
}

.contact_box{
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
}

form{
    width: 619px;
    display: flex;
    flex-direction: column;
}
.contact_box input{
    background-color: #D6564F;
    border: none;
    border-radius: 5px;
    margin-bottom: 16px;
    height: 38px;
    padding-left: 14px;
    padding-bottom: 2px;
}
.contact_box input::placeholder{
    color: #F28B8E;
    font-family: "Lato Regular", sans-serif;
    font-size: 12px;
}
.contact_box textarea{
    background-color: #D6564F;
    border: none;
    resize: none;
    border-radius: 5px;
    padding-left: 14px;
    padding-top: 10px;
    height: 202px;
}
.contact_box textarea::placeholder{
    color: #F28B8E;
    font-family: "Lato Regular", sans-serif;
    font-size: 12px;
}
.contact_box .submit{
    background-color: #F0D8D9;
    width: 150px;
    margin: 10px auto;
}
.contact_box .submit:hover{
    cursor: pointer;
    background-color: #2D303A;
    color: #F0D8D9;
}

.contact_info{
    width: 300px;
    display: flex;
    flex-direction: column;
}
.contact_info h3{
    letter-spacing: 0.015em;
    font-size: 18px;
    line-height: 18px;
}
.contact_info p{
    margin-top: 10px;
    text-align: justify;
    line-height: 22px;
    hyphens: auto;
    word-break: break-all;
}
.contact_info__main{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    line-height: 22px;
}
.contact_info__main>*{
    position: relative;
}
.icon{
    position: relative;
    display: inline-block;
    width: 13px;
    height: 12px;
    text-align: center;
    margin-right: 10px;
}
.icon1{
    position: absolute;
    top: 2px;
    left: 3px;
}
.contact_info__main .phone{
    position: absolute;
    top: -1px;
}
.contact_info__main .mail{
    position: absolute;
    top: -1px;
}

/* FOOTER BLOCK*/
footer{
    background-color: #2D303A;
    height: 77px;
    width: 1020px;
    color: #666d89;
    padding: 20px 40px 0 40px;
    display: flex;
    justify-content: space-between;
}

.socials{
    display: flex;
}

.social{
    width: 32px;
    height: 32px;
    border: 1px solid #666D89;
    border-radius: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px 7px 0 1px;
}
.social:hover{
    border-color: black;
    border-width: 2px;
    background-color: white;
    cursor: pointer;
}

.social:hover img{
    transform: scale(1.2);
}

.footer__copy{
    margin-top: 10px;
    margin-left: 2px;
    letter-spacing: -0.01em;
}

.footer__socials{
    margin-right: -7px;
    margin-top: -22px;
}